
<div class="comment">
    <a class="ui avatar image circular">
        <%= image_tag comment.user.avatar %>
    </a>
    <div class="content">
      <a class="author"><%= comment.user.full_name %></a>
      <div class="metadata">
        <span class="date"> <%= time_ago_in_words(comment.updated_at) %> ago</span>
      </div>
      <div class="text">
        <%= comment.body %>
      </div>
    </div>
  </div>