<div class="comment">
    
    <div class="content">
      
      <div class="metadata">
        <span class="date"> <%= time_ago_in_words(task.updated_at) %> ago</span>
      </div>
      <div class="text">
        <%= task.title %>
      </div>
    </div>
  </div>