<div class="ui relaxed equal width grid custom_margin">
  <div class="ui row">
    <div class="ui four wide column"></div>
    <div class="ui eight wide column segment">
      <h2 class="ui center aligned dividing header">Edit Article</h2>
      <div class="ui form ">
        <%= render "form", article: @article %>
      </div>
    </div>
  </div> 
</div>