<div class="ui grid custom_margin">
  <div class="two wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="active item">
        Journal
      </a>
      <a class="item">
        Projects
      </a>
      <a class="item">
        Companies
      </a>
      <a class="item">
        Links
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <div class="ui grid">

        <div class="four wide column">
          <button class="ui positive basic btnModal button">
            <i class="paper plane icon"></i>New
          </button>
        </div>

        
      </div>

      <div class="ui grid">
        <%= render 'article', obj: @articles %>
      </div>
      <div class="ui two column centered grid custom_margin_bottom">
      <%= will_paginate @articles, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
      </div>
    </div>
  </div>

  <div class="ui test modal ">
  <i class="close icon"></i>
  
  <div class="ui row">
    
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">New Journal</h2>
      <div class="ui form ">
        <%= render "form" %>
      </div>
    </div>
  </div>  

</div>