<div class="ui grid hero">
  <div class="row ">
    <div class="column padding-reset jumbotron ">
    <div class="ui basic center aligned segment">
      <div class="ui huge header">Welcome to Education Club!</div>
      
      <%= link_to  new_user_session_path, class: "item" do %>
        <button class="ui right labeled icon inverted black    button">
          <i class="sign in icon"></i>Join today
        </button>
      <% end %> 
      </div> 
         
    </div>
  </div>
</div>
<div class="ui container">
  <div class="ui very relaxed items">
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
      </div>
      <div class="content">
        <a class="ui header" href="#link">About us</a>
        <div class="description">
          <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut posuere nec tortor eu ullamcorper. <a href="#link">Etiam pellentesque</a> tincidunt tortor, non sagittis nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
        </div>
      </div>
    </div>
    <div class="item">
    <div class="content">
        <a class="ui header" href="#link">Link Header</a>
        <div class="description">
          <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut posuere nec tortor eu ullamcorper. <a href="#link">Etiam pellentesque</a> tincidunt tortor, non sagittis nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
        </div>
      </div>
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/joe.jpg">
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="four wide column">
      <div class="ui segment">
        <img src="https://semantic-ui.com/images/avatar/small/helen.jpg">
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
      <img src="https://semantic-ui.com/images/avatar/small/daniel.jpg">
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
      <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
      <img src="https://semantic-ui.com/images/avatar/small/laura.jpg">
      </div>
    </div>
    <div class="four wide column">
    <div class="ui segment">
    <img src="https://semantic-ui.com/images/avatar/small/veronika.jpg">
    </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
      <img src="https://semantic-ui.com/images/avatar/small/justen.jpg">
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
      <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
      <img src="https://semantic-ui.com/images/avatar/small/stevie.jpg">
      </div>
    </div>
  </div>
</div>