<div class="ui grid hero">
  <div class="row ">
    <div class="column padding-reset jumbotron ">
    <div class="ui basic center aligned segment">
      <div class="ui huge header">Welcome to Education Club!</div>
      
      <%= link_to  new_user_session_path, class: "item" do %>
        <button class="ui right labeled icon inverted black    button">
          <i class="sign in icon"></i>Join today
        </button>
      <% end %> 
      </div> 
         
    </div>
  </div>
</div>
<br><br>
<div class="ui container">
  <div class="ui very relaxed items">
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
      </div>
      <div class="content">
        <a class="ui header" href="#link">About us</a>
        <div class="description">
          <p>Education Club is a network system that optimizes all teamwork processes for creating projects, sharing knowledges and finding solutions together. This is the place where you can find friends and have a fun to create something valuable.</p>
        </div>
      </div>
    </div>
    <br><br>
    <div class="item">
    <div class="content">
        <a class="ui header" href="#link">Be Free</a>
        <div class="description">
          <p>Use common chat for finding your team or suitable project. Create learning projects for implementation your ideas. Share your experience in Journal.</p>
        </div>
      </div>
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/joe.jpg">
      </div>
    </div>
  </div>
  <h2 class="ui center aligned icon header">
    You're In Good Company
  </h2>
  <br><br>
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/helen.jpg">
            </div>
            <div class="content">
              Cool app!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/daniel.jpg">
            </div>
            <div class="content">
              Nice design
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
            </div>
            <div class="content">
              Good team
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/laura.jpg">
            </div>
            <div class="content">
              I like learning together
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/veronika.jpg">
            </div>
            <div class="content">
              It's fun!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/justen.jpg">
            </div>
            <div class="content">
              Creative
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
            </div>
            <div class="content">
              I founded friends
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://semantic-ui.com/images/avatar/small/stevie.jpg">
            </div>
            <div class="content">
              My hobby
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>


<div class="pusher">
        
               

		<div class="ui padded grid">
			<div class="blue column">

				<br><br>
				
	            <div class="ui center aligned header">
					<h2>
						Servicies
					    
					</h2>
	            </div>
				<br><br>
				<div class="ui container grid">
					<div class="three column computer only tablet only row">
						<div class="column">
						    <h2 class="ui icon header">
						        <i class="paper plane icon"></i>
						        <div class="content">Journal <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut</div>
						        </div>
						    </h2>
						</div>
						<div class="column">
						    <h2 class="ui icon header">
						        <i class="comment alternate icon"></i>
						        <div class="content">Messenger <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut</div>
						        </div>
						    </h2>
						</div>
						<div class="column">
						    <h2 class="ui icon header">
						        <i class="gamepad icon"></i>
						        <div class="content">Project <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut</div>
						        </div>
						    </h2>
						</div>
					</div>
				</div>

		
		<br><br><br><br>
		<div class="ui padded grid">
			<div class="grey column">
				<br><br><br><br>
				<div class="ui container centered grid">
					<div class="computer only row">
						<div class="six wide column">
							<h2 class="ui header inverted" style="font-size: 35px;">
								Get latest updates!
								<div class="sub header">We never spam your email</div>
							</h2>
						</div>
						<div class="ten wide column">
							<div class="ui massive fluid action input">
								<input type="text" placeholder="Enter your email">
								<button class="ui button">SUBSCRIBE</button>
							</div>
						</div>
					</div>

					<div class="mobile only tablet only row">
						<div class="sixteen wide column">
							<h2 class="ui header inverted" style="font-size: 35px;">
								Get latest updates!
								<div class="sub header">We never spam your email</div>
							</h2>
							<br><br>
						</div>
						<div class="sixteen wide column">
							<div class="ui massive fluid input">
								<input type="text" placeholder="Enter your email">
							</div>
							<br>
							<button class="ui massive fluid button">SUBSCRIBE</button>
						</div>
					</div>
				</div>
				<br><br><br><br>
			</div>
		</div>
		
		
		
		
		
		<br><br>
		<div class="ui center aligned orange header">
			<h1>
				<span style="font-size: 40px">Contact Information</span>
			    <div class="sub header">
					Don't hesitate to send us a contact form message
					
				</div>
			</h1>
		</div>
		<br><br>
		<div class="ui container centered grid">
			<div class="three column computer only tablet only row">
				<div class="eight wide column">
					<div class="map-responsive">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606" allowfullscreen></iframe>
					</div>
				</div>
				<div class="six column">
					<div class="ui segment">
						<form class="ui form">
							<div class="field">
								<div class="field">
									<label>Name</label>
									<div class="ui left icon input">
										<input type="text" placeholder="Name">
										<i class="user icon"></i>
									</div>
								</div>
	
								<div class="field">
									<label>Email</label>
									<div class="ui left icon input">
										<input type="text" placeholder="Email">
										<i class="mail icon"></i>
									</div>
								</div>
	
								<div class="field">
									<label>Message</label>
									<textarea></textarea>
								</div>
								<button class="ui green fluid button" type="button">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="one column mobile only row">
				<div class="column">
					<div class="map-responsive">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606" allowfullscreen></iframe>
					</div>
				</div>
				<br><br>
				<div class="column">
					<div class="ui segment">
						<form class="ui form">
							<div class="field">
								<div class="field">
									<label>Name</label>
									<div class="ui left icon input">
										<input type="text" placeholder="Name">
										<i class="user icon"></i>
									</div>
								</div>
	
								<div class="field">
									<label>Email</label>
									<div class="ui left icon input">
										<input type="text" placeholder="Email">
										<i class="mail icon"></i>
									</div>
								</div>
	
								<div class="field">
									<label>Message</label>
									<textarea></textarea>
								</div>
								<button class="ui green fluid button" type="button">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
    <br><br>
		<br><br>
    <br><br>
        
      </div>