<div class="ui grid hero">
  <div class="row ">
    <div class="column padding-reset jumbotron ">
    <div class="ui basic center aligned segment">
      <div class="ui grey huge header">Welcome to Education Club!</div>
      
      <%= link_to  new_user_session_path, class: "item" do %>
        <button class="ui right labeled icon button teal">
        <i class="sign in icon"></i>Join today</button>
      <% end %> 
      </div> 
         
    </div>
  </div>
</div>
