<% User.all.each  do |user| %>
  <div class="left floated author">
          <%= image_tag user.avatar, class: 'ui avatar image' %> 
          <%= user.full_name %>
          <% if !@project.users.include? user %>
          <%= link_to  add_project_path(@project, user_id: user.id), class: "ui icon basic button positive" do %>
            <i class="add icon"></i>
          <% end %>
            
        <% end %>
  </div>
        
    
<% end %>