$font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
$import-google-fonts: false;
$use-custom-scrollbars: false;
$font-family: 'custom-font-family';
@import "semantic-ui";
@import "semantic-ui/collections/menu";

$font-name: 'Lato' !default;
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;
$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext' !default;
$import-google-fonts: true !default;
$use-custom-scrollbars: true !default;
$mobile-breakpoint: 320px !default;
$tablet-breakpoint: 768px !default;
$computer-breakpoint: 992px !default;
$large-monitor-breakpoint: 1200px !default;
$widescreen-monitor-breakpoint: 1920px !default;
.field_with_errors {
  @extend .field;
  @extend .error;
}
.hero {
  max-height: 50px;
  width: auto;
}