.jumbotron {
  background: asset-url('backgr.png') no-repeat fixed center;
  background-size: cover;
  
  
  
  padding-top: 140px;
  padding-bottom: 140px;

 

 
}
.hero {
  margin-top: -28px !important;
}