<div class="ui inverted vertical footer fixed segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="three wide column">
        <%= link_to projects_path, class: "item" do %>
          <i class="gamepad  icon"></i> Project 
        <% end %>        
      </div>
      <div class="three wide column">
        <%= link_to articles_path, class: "item" do %>
          <i class="paper plane icon"></i> Journal
        <% end %> 
      </div>
      <div class="three wide column">
        <%= link_to rooms_path, class: "item" do %>
          <i class="comment alternate icon"></i> Messenger
        <% end %>                
      </div>                   
    </div>               
    <br>
    <div class="ui row">
      <button class="ui circular facebook icon button">
        <i class="facebook icon"></i>
      </button>
      <button class="ui circular twitter icon button">
        <i class="twitter icon"></i>
      </button>
      <button class="ui circular linkedin icon button">
        <i class="linkedin icon"></i>
      </button>
      <button class="ui circular google plus icon button">
        <i class="google plus icon"></i>
      </button>
    </div>
    <br>
    <div class="ui container">
        @ Code the Dream 2021. We love our users!
    </div>                
  </div>
</div>
